@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --black: #0D0D0D;
    --white: #fff;
    --yellow: #F28705;
}

::selection{
    color: white;
    background-color: var(--yellow);
}

*{
    margin: 0;padding: 0;
    font-family: "poppins";
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s ease-in-out;
    list-style: none;
}
body{
    background-color: var(--white);
    transition: 1s ease-in-out;
}
body.active{
    --black: #fff;
    --white: #0d0d0d;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.6);
    background-color: var(--white);
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
.header .logo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}
.header .logo i{
    color: var(--yellow);
    margin-right: .7rem;
}
.header .navbar{
    display: flex;

}
.header .navbar li a{
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}
.header .navbar li:hover a{
    color: var(--yellow);
}
.header .actions i{
    font-size: 1.6rem;
    color: var(--black);
    margin-left: .8rem;
}
.header .actions i:hover{
    transition: .5s;
    transform: rotate(360deg);
    color: var(--yellow);
}
.header .actions .fa-bars{
    display: none;
}
#home{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#home .one{
    margin-left: 2rem;
    max-width: 50vw;
}
#home .one h3{
    color: var(--yellow);
    font-size: 2.5em;
}
#home .one p{
    color: var(--black);
    font-size: 1.2em;
    font-weight: 500;
    text-indent: 2rem;
    text-align: justify;
    margin-bottom: 2rem;
    max-width: 40vw;
}
#home .one a{
    color: var(--yellow);
    padding: .5rem .8rem;
    font-size: 1.4em;
    border: 2px solid var(--yellow);
}
#home .one a:hover{
    background-color: var(--yellow);
    color: var(--black);
}
#home .two img{
    max-width: 50vw;
}
#search{
    display: none;
}
#search.active{
    position: fixed;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: .95;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search .fa-times{
    color: var(--black);
    position: absolute;
    top: 6rem;
    right: 3rem;
    font-size: 3rem;
}
#search i{
    color: var(--black);
}
#search input{
    width: 80%;
    max-width: 500px;
    background-color: var(--black);
    border: 2px solid var(--black);
    padding: .5rem 1rem;
    color: var(--white);
}
input::placeholder{
    color: var(--white);
}
#search .fa-search{
    background-color: var(--black);
    color: var(--white);
    padding: .75rem;
    margin-left: .2rem;
}
#burgers{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
#burgers .box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem;
    outline: 2px solid var(--black);
    outline-offset: -1rem;
}
#burgers .box:hover{
    outline-offset: 0;
}
#burgers h3,#drinks h3,#shakes h3,#donuts h3,#others h3{
    font-size: 3rem;
    color: var(--black);
}
#burgers h3 span,#drinks h3 span,#shakes h3 span,#donuts h3 span,#others h3 span{
    color: var(--yellow);
}
#burgers img{
    width: 40vw;
}
#burgers .card p,.drink2 p{
    font-size: 2em;
    color: var(--yellow);
    font-weight: 500;
}
.info h3{
    color: var(--black);
    font-size: 2rem;
}
.info p{
    color: var(--black);
    font-weight: 500;
}
.info i,.stars i{
    color: var(--yellow);
    font-size: 1.5rem;
    margin: 1rem 0;
}
.info button,.drink1 a,.content a,.box-donuts a{
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: .5rem;
}
.info button:hover,.drink1 a:hover,.content a:hover,.box-donuts a:hover{
    color: var(--white);
    background-color: var(--black);
}
#drinks{
    text-align: center;
}
.drink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.drinkbox{
    width: 30vw;
    max-width: 500px;
    height: 500px;
    outline: 2px solid var(--black);
    outline-offset: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease-in-out;
}
.drinkbox:hover{
    outline-offset: 0;
}
.drinkbox:hover .drink1{
    display: block;
}
.drinkbox:hover .drink2{
    display: none;
}
.drink1 h2{
    color: var(--black);
    font-size: 3rem;
    line-height: 1em;
    margin-bottom: 1rem;
}
.drink1 p{
    font-size: 1em;
    max-width: 80%;
    margin: auto;
    color: var(--black);
}
.drink1{
    display: none;
}
.drink2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
}
.drink2 img{
    width: 80%;
    text-align: center;
}
#shakes{
    text-align: center;
}
#shakes .shakes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
#shakes .shakes .box-shake{
   position: relative;
   height: 500px;
   outline: 2px solid var(--black);
   outline-offset: -1rem;
   max-width: 45vw;
   z-index: 0;
   overflow: hidden;
}
#shakes .shakes .box-shake:hover{
   outline-offset: 0;
}
#shakes .shakes .box-shake img{
    height: 90%;
}
#shakes .shakes .box-shake .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -1000%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: .8;
}
#shakes .shakes .box-shake .content h3{
    color: var(--black);
}
#shakes .shakes .box-shake .content p{
    color: var(--black);
    font-size: 1em;
    max-width: 90%;
}
#shakes .shakes .box-shake:hover .content{
    top: 0;
}
#donuts{
    text-align: center;
}
#donuts h3{
    margin-bottom: 1.5rem;
}
.donuts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.donuts .box-donuts{
    position: relative;
    width: 45vw;
    height: 45vw;
}
.donuts .box-donuts img{
    width: 100%;
}
.donuts .box-donuts h3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
    opacity: .9;
}
.donuts .box-donuts a{
    position: absolute;
    left: calc(50% - 100px);
    width: 200px;
    bottom: 1.5rem;
}



@media (max-width: 1100px) {
    .drinkbox{
        width: 45vw;
    }
}
@media (max-width: 1000px) {
    #shakes .shakes{
        flex-direction: column;
    }
}
@media (max-width: 850px){
    .donuts .box-donuts{
        width: 70vw;
        height: 70vw;
    }
    #shakes .shakes .box-shake{
        height: 80vw;
        min-width: 90vw;
        max-width: 97vw;
        padding: .5rem;
    }
    #shakes .shakes .box-shake .content h3{
        font-size: 5vw;
    }
    #shakes .shakes .box-shake .content p,#shakes .shakes .box-shake .content i{
        font-size: 4vw;
    }
    .drinkbox{
        width: 90vw;
    }
    #home{
        width: 100vw;
        flex-direction: column;
        margin-top: 5rem;
    }
    #burgers .box{
        flex-direction: column;
    }
    #burgers img{
        width: 70vw;
    }
    #home .one{
        width: 100vw;
        min-width: 80vw;
        text-align: center;
        margin-left: 0;
    }
    #home .one p{
        max-width: 80vw;
    }
    #home .two img {
        max-width: 80vw;
    }
}
@media (max-width: 750px) {
    .header .actions .fa-bars{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top: -1000%;
        left: 0;
        display: block;
        width: 100%;
        height: auto;
        background-color: #0d0d0d;
        opacity: 1;
    }
    .header .navbar.active{
        top: 100%;
    }
    .header .navbar li{
        margin: 1rem;
        padding: 1rem;
        border: 2px solid var(--white);
        border-left: 5px solid var(--yellow);
    }
    .header .navbar li a{
        color: yellow;
    }
}
@media (max-width: 400px) {
    .drink1 h2{
        font-size: 2rem;
    }
    .drink1 p{
        font-size: 1rem;
    }
    .header{
        padding: 1rem .4rem;
    }
    .header .box{
        padding: 1rem;
    }
    .content a{
        margin-top: 0;
    }
    .donuts .box-donuts{
        width: 90vw;
        height: 90vw;
    }
}